/* .main-text {
  padding: 10px;
} */
.Home {
  margin-bottom: 50px;
}

.box {
  width: 100px;
  height: 100px;
  background: #000;
}

.carousel-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
