.app {
  background: cornflowerblue;
}

.site-layout-content {
  min-height: 280px;
  padding: 0 24px;
  background: #fff;
  font-family: "Karla", sans-serif;
  font-size: large;
  font-weight: 300;
}

.page-body {
  padding: 20px 10% 0;
}


.title {
  float: left;
  margin: 0 24px 16px 0;
}

.title .title-text {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: large;
}

.heading-main {
  font-family: "Rubik", sans-serif;
  font-size: xxx-large;
}
